.InputFile {
    margin: 0rem 2rem 2rem 2rem;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-content: flex-start;
    justify-content: space-around;
}


@media screen and (max-width: 950px) {
    .InputFile {
        flex-direction: column;
    }
}


@media screen and (max-width: 320px) {
    .InputFile {
        margin: 0rem 1rem 2rem 1rem;
    }
}





.video_toolbar_img { /* Pause/Play image */
    width: 2rem;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
}




.video_frame {
    width: 640px;
    aspect-ratio: 16 / 9;
    
    background-color: rgb(73, 73, 73);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 3px solid #232323;
}

@media screen and (max-width: 950px) {
    
    .video_div {
        width: -webkit-fill-available;
        
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        flex-direction: column;
        
    }
    
    .video_frame {
        width: inherit;
    
    }
    
    video {
        width: inherit;
        aspect-ratio: 16 / 9;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


video {
    border-radius: 20px;
    
}


.buttons_main_div {
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 1rem;
    background-color: white;
    border: 3px solid #c9c9c9;


    height: 7rem;
    border-radius: 10px;
    /* padding: 1.5rem 0; */
    justify-content: space-evenly;
}


@media screen and (max-width: 950px) {
    .buttons_main_div {
        width: inherit;
    }
}



.time_volume_div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .6rem 1rem 0 1rem;
}

.volume_range {
    margin-left: 1rem;    
    cursor: pointer;
}


@media screen and (max-width: 950px) {
    .volume_range {
        display: none;
    }
}



.timing {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bolder;

    user-select: none;
}




.timeline_div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: -webkit-fill-available;
    
    padding: 0 1rem;
}




.timeline {
    width: 100%;
    margin-left: .6rem;
    height: 9px;
    cursor: pointer;
}

.timeline[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    border-radius: 1px;
}


.timeline[type=range]::-webkit-slider-thumb {
    margin-top: -5px;
    background-color: rgb(182, 180, 65);
}


.options {
    margin-left: 2rem;
    width: -webkit-fill-available;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: flex-start;

    background: #14140713;
    border: 3px #232323 solid;
    padding: 1rem;
    padding-bottom: 2rem;
    border-radius: 10px;
}

@media screen and (max-width: 950px) {
    .options {
        margin-left: 0;
        margin-top: 2rem;
    }
}





#content {
    color: transparent;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: inherit;
    word-wrap: break-word;
    font-size: .1px;
}


#content::-webkit-file-upload-button{
    width: auto;

    padding: .5rem 1.5rem;
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bolder;
    border-radius: 10px;
    cursor: pointer;
    background: rgb(250, 235, 215);
    border: 3px solid #232323;

    outline: none;
    font-size: 13px;
}


#content::-webkit-file-upload-button:hover {
    background: rgb(214, 198, 176);
    
    border: 3px solid #1b1b1b;

}


.input_config_div {
    width: inherit;
    background: white;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem;
    border-radius: 5px;
    border: 3px solid #232323;
    flex-wrap: wrap;
    user-select: none;
}

#datasetName, #entities {
    padding: .5rem .5rem;
    outline: none;
    border: none;
    margin-left: .5rem;
    width: fit-content;
}


@media screen and (max-width: 280px) {
    #datasetName, #entities {
        width: -webkit-fill-available;
    }
}




label {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bolder;
}


.entitiesRadio {
    cursor: pointer;
    margin-right: .6rem;
    margin-bottom: .4rem;
}


.labelEntities {
    font-weight: 595;
    user-select: none;
    cursor: pointer;
    font-size: 18px;
    color: white;
}


.select_entitie {
    margin-bottom: 2rem;
}


.pointButton {

    user-select: none;
    width: -webkit-fill-available;
    padding: .5rem 1.5rem;
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bolder;
    border-radius: 10px;
    cursor: pointer;

    border: 3px solid #232323;

    outline: none;
    margin-bottom: 1rem;
    background: rgb(250, 235, 215);

}

.pointButton:hover {
    background: rgb(214, 198, 176);
}


#temp_point {
    width: -webkit-fill-available;
    outline: none;
    resize: none;
    cursor: default;
    border: 3px solid #232323;
    border-radius: 5px;

    padding: 1rem;
}


#temp_point::placeholder {
    user-select: none;
}


.file_dv {
    width: 100%;
}



#filesegments {
    width: -webkit-fill-available;
    
    height: 500px;
    
    outline: none;
    resize: none;
    cursor: default;
    border: 3px solid #232323;
    border-radius: 5px;

    padding: 1rem;
    margin-bottom: 2rem;
}



#temp_point, #filesegments {
    font-family: 'PT Sans Caption', sans-serif;
}




.downloadButton {
    border: 3px solid #232323;
    padding: .5rem 1rem;
    margin-top: 2rem;
    background:rgb(182, 180, 65);
    color: #1b1b1b;
    text-decoration: none;
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bolder;
    border-radius: 15px;
}


.downloadButton:hover {
    background:rgb(128, 126, 45);

}


@media screen and (max-width: 270px) {
    .downloadButton{
        font-size: 12px;
    }
}