.InputFile {
    margin: 0rem 2rem 2rem 2rem;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-content: flex-start;
    justify-content: center;
}

.video_toolbar_img { /* Pause/Play image */
    width: 2rem;
}


.video_frame {
    width: 640px;
    aspect-ratio: 16 / 9;
    
    background-color: rgb(73, 73, 73);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 3px solid #232323;
}

video {
    border-radius: 20px;
}


.buttons_main_div {
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 1rem;
    background-color: white;
    border: 3px solid #c9c9c9;


    height: 7rem;
    border-radius: 10px;
    /* padding: 1.5rem 0; */
    justify-content: space-evenly;
}

.time_volume_div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .6rem 1rem 0 1rem;
}

/* .volume_range {
    
} */





.timeline_div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: -webkit-fill-available;
    
    padding: 0 1rem;
}




.timeline {
    width: 100%;
    margin-left: .6rem;
    height: 9px;
}

.timeline[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    border-radius: 1px;
}


.timeline[type=range]::-webkit-slider-thumb {
    margin-top: -5px;
    background-color: rgb(182, 180, 65);
}


.options {
    margin-left: 2rem;
}





#filesegments {
    resize: none;
    width: 540px;
    height: 500px;
}


#temp_point {
    resize: none;
    width: 200px;
    height: 100px;
}

